* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
a {
  text-decoration: inherit;
  color: inherit;
}
body {
  background-color: #fffdf6;
  font-family: "Pretendard";
  /* cursor: none; */
}
#cursor {
  position: fixed;
  z-index: 1000;
  transition: 0.1s;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 100%;

  /* display: none; */
}

/* header */
header {
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
}
header ul {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 24px;
}
header li {
  transition: 0.5s;
  text-shadow: 0px 0px 4px #fff;
}
header li:hover {
  letter-spacing: 5px;
}
header li .head_cir {
  width: 36px;
  height: 36px;
  background-color: #ccc;
  border-radius: 50px;
  overflow: hidden;
}
header .head_cir video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .head_line {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 6px 0px;
}
header .head_line div {
  border: 1px solid #000;
  height: 12px;
  width: 12px;
  border-radius: 12px;
}
header .head_line hr {
  border: none;
  height: 1px;
  width: 60%;
  background-color: #000;
  transform: none;
}

/* visual */
#visual {
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-content: center;
  position: relative;

  overflow: hidden;
}
#visual h2 span {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  letter-spacing: -0.5vw;
  font-size: 10vw;
  display: block;
  text-transform: uppercase;
  line-height: 1;
}
#visual .vis_line {
  width: 100%;
  /* height: 2px; */
  height: 0px;
  border: 2px solid #000;
  border-left: none;
  border-right: none;
  /* background-color: #234234; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#visual .vis_line video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* visual particles */
hr {
  height: 1px;
  background-color: #000;
  border: none;
  border-radius: 10px;
}
#visual .imgBox {
  position: absolute;
  right: -20vw;
  bottom: -5vh;
  z-index: -1;
  /* transform: translate(20%, -50%); */
  height: 80vh;
  overflow: hidden;
  width: 0;
  opacity: 0.5;
  align-content: end;
  transform: rotate(-30deg);
  animation: particle 3s ease-in-out infinite;

  display: none;
}
@keyframes particle {
  0% {
    transform: rotate(-30deg) translate(0, 0);
  }
  50% {
    transform: rotate(-30deg) translate(5vw, 5vw);
  }
  100% {
    transform: rotate(-30deg) translate(0, 0);
  }
}
#visual .imgBox img {
  width: 80vw;
  max-width: 900px;
  transform: rotate(30deg);
}
/* #visual hr {
  width: 10vw;
  max-width: 400px;
  height: 1px;
  background-color: #000;
  color: #000;
  transform: rotate(30deg);
  border: none;
  border-radius: 10px;
} */

/* ------------particles------------ */
/* #visual .shapes {
  position: absolute;
  top: 0;
}
#visual .shapes img {
  width: 30px;
  height: 30px;
} */
.particle {
  pointer-events: none;
  user-select: none;
  z-index: -1;
  max-width: 30px;
  opacity: 0.4;
}
#visual .lines.a1 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: scale(0.9) rotate(30deg);
}
#visual .lines.a2 {
  position: absolute;
  top: 0;
  left: -10vw;
  z-index: -1;
  transform: scale(0.9) rotate(30deg);
}
#visual .lines li {
  display: flex;
  justify-content: center;
  align-items: center;
}
#visual .lines img {
  width: 2vw;
  height: 2vw;
}
#visual .lines hr {
  width: 50vw;
  max-width: 700px;
  height: 1px;
}
#visual .lines li:nth-child(2) hr {
  margin: 20px auto 70px;
  width: 30%;
}
#visual .lines li:nth-child(3) hr {
  margin: 10px auto;
  width: 90%;
}
#visual .lines li:nth-child(4) hr {
  margin: 50px auto 30px;
  width: 130%;
}
#visual .lines li:nth-child(5) hr {
  margin: 30px 0px 30px auto;
  width: 80%;
}
#visual .lines li:nth-child(6) hr {
  margin: 70px 30% 80px auto;
  width: 20%;
}

#visual .cc {
  position: absolute;
  z-index: -2;
  aspect-ratio: 1/1;
  opacity: 0;
}
#visual .cc.a {
  left: -10%;
  top: -18%;
  width: 40vw;
}
#visual .cc.b {
  left: 20%;
  bottom: 10%;
  width: 15vw;
  min-width: 200px;
}
#visual .cc.c {
  left: 60%;
  bottom: 30%;
  width: 20vw;
}
#visual .cc.d {
  left: 70%;
  top: 10%;
  width: 5vw;
  min-width: 100px;
}
#visual .cc.e {
  right: -3%;
  bottom: 2%;
  width: 30vw;
  min-width: 250px;
}

/* ----------particles end---------- */

/* fixed frame */
h1 {
  position: fixed;
  left: calc(100px + 3vw);
  top: 0;
  width: 40px;
  max-width: 200px;
  z-index: 1000;
}
h1 hr {
  margin: 0px auto;
  width: 2px;
  height: 50px;
  border-radius: 0;
}
h1 a {
  display: block;
}
h1 .mode {
  cursor: pointer;
  font-size: 1.5rem;
  width: 100px;
  text-align: center;
  margin: 2vh auto 0px;
  font-weight: normal;
  display: none;
  animation: moding 1.5s ease-in-out infinite;
}
@keyframes moding {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}
h1 .mode i {
  margin-right: 6px;
}

#ppFrame div:nth-child(2) {
  position: fixed;
  left: calc(40px + 1vw);
  top: 50%;
  transform: translateY(-50%);
  z-index: 500;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#ppFrame .frameSq1 {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 1000;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  width: 30px;
  height: 30px;
}
#ppFrame .frameSq2 {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 1000;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  width: 30px;
  height: 30px;
}
#ppFrame hr {
  transform: rotate(0deg);
  width: 1px;
  height: 80%;
}
#ppFrame div:nth-child(2) p {
  flex-shrink: 0;
  margin: 20px 0px;
}

/* container start */
#container section {
  width: 100%;
  height: 100vh;
  position: relative;
}
h6 {
  position: absolute;
  top: 0;
  font-size: 12vw;
  text-transform: uppercase;
  letter-spacing: -0.8vw;
  font-weight: 900;
  opacity: 0.05;
  user-select: none;
  z-index: -10;
  line-height: 0.7;
}
.con01 > h6,
.con02 > h6,
.con03 > h6 {
  left: 0;
}
.con04 > h6,
.con05 > h6,
.con06 > h6,
.con07 > h6 {
  right: 0;
  text-align: right;
}
.con08 > h6 {
  left: -1%;
  font-size: 24vw;
  letter-spacing: -3vw;
  line-height: 0.8;
}

/* con01 */
.con01 {
  padding: 50px 70px 0px 100px;
  box-sizing: border-box;
  background-color: #00000020;
}
.con01 .top {
  display: flex;
  justify-content: right;
  /* justify-content: left; */
  align-items: center;
  width: 100%;
}
.con01 .top > div:nth-child(1) {
  width: 60%;
}
.con01 .top > div:nth-child(2) {
  width: 40%;
}
.con01 .top > div:nth-child(1) .intro {
  margin-left: auto;
  max-width: 720px;
}

.con01 h3 {
  font-size: 36px;
  font-weight: normal;
}
.con01 h3 + ul {
  font-size: calc(30px + 1.5vw);
  margin-top: 20px;
}
.con01 h3 + ul li {
  line-height: 0.7;
}
.con01 h3 + ul span {
  font-weight: 800;
}
.con01 h3 + ul li:nth-child(1) {
  opacity: 0.2;
}
.con01 h3 + ul li:nth-child(2) {
  opacity: 0.5;
}
.con01 h3 + ul li:nth-child(3) {
  opacity: 0.7;
}
.con01 h3 + ul li:last-child {
  line-height: 1;
  margin-top: -10px;
  word-break: keep-all;
}

.con01 .about {
  width: 100%;
  display: flex;
  /* transform: translateX(-25%); */
  margin: 40px 0px;
  justify-content: left;
  align-items: flex-start;
  gap: 5vw;
}
.con01 .about > ul::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 70%;
  height: 2px;
  background-color: #000;
}
.con01 .about > ul {
  /* border-top: 2px solid #000;
  border-bottom: 2px solid #000; */
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0px;
  width: 100%;
  word-break: keep-all;
  overflow: hidden;
}
.con01 .about > ul::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 2px;
  background-color: #000;
}
.con01 .about > ul > li {
  display: flex;
  justify-content: space-between;
}

/* 우측 공간 */
.con01 .aboutMe {
  width: 100%;
  height: 50vh;
  margin-left: 5%;
  position: relative;
  padding: 40px;
  align-content: center;
}
.con01 .aboutMe .pic {
  width: 20vw;
  margin: -10px auto;
  aspect-ratio: 2/1;
  /* background-color: #ccc; */
  position: relative;
  filter: brightness(70%);
}
.con01 .aboutMe .pic p {
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.con01 .aboutMe .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.con01 .aboutMe .decoplus {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 30%;
  gap: 15%;
  padding: 1vw 0 0 1.8vw;
  user-select: none;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}
.con01 .aboutMe .decoplus li {
  width: 20px;
  height: 20px;
}
.con01 .aboutMe .decoplus li img {
  width: 100%;
  height: 100%;
}
.con01 .aboutMe .decoplus.a {
  left: 0;
  top: 0;
}
.con01 .aboutMe .decoplus.b {
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
}
/* 말풍선 */
.con01 .aboutMe .bubble1 {
  position: relative;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: #fffdf6;
  border-radius: 2vw;
  border: #000000 solid 2px;
  z-index: 5;

  line-height: 1.5;
  word-break: keep-all;
  text-align: right;
  font-size: 15px;
}
.con01 .aboutMe .bubble1 span {
  opacity: 0.3;
}

.con01 .aboutMe .bubble1:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 10px 20px;
  border-color: #fffdf6 transparent;
  display: block;
  width: 0;
  z-index: 4;
  margin-left: -10px;
  top: -20px;
  left: 21%;
}

.con01 .aboutMe .bubble1:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 11px 21px;
  border-color: #000000 transparent;
  display: block;
  width: 0;
  z-index: 4;
  margin-left: -11px;
  top: -23px;
  left: 21%;
}

.con01 .btn {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  align-content: center;
}
.con01 .btn div:nth-child(1) {
  border: 2px solid #000;
  width: 20vw;
  max-width: 150px;
  text-align: center;
  font-size: calc(14px + 1vw);
  padding: 7px 0px;
  border-radius: 50px 50px 0px 50px;
}
.con01 .btn div:nth-child(2) {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 2px solid #000;
  transform: translateY(20px);
}

.con01 .skills {
  display: flex;
  align-items: flex-start;
  gap: 5vw;
  position: relative;
}
.con01 .skills > ul {
  display: flex;
  gap: 1vw;
  height: 100px;
  font-size: 14px;
}
.con01 .skills > ul > li {
  flex-shrink: 0;
  width: 20vw;
  min-width: 400px;
  border: 2px solid #000;
}
.con01 .skills .skill {
  box-sizing: border-box;
  padding: 10px;
  height: 71px;
  align-content: center;
  word-break: keep-all;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.con01 .skills .skill .imgBox {
  display: flex;
  width: 100px;
  justify-content: center;
}
.con01 .skills .skill .imgBox img {
  display: block;
  width: 50px;
  aspect-ratio: 1/1;
}
/* .con01 .skills .skill p {
  width: calc(100% - 100px);
} */

.con01 .skills .deco {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 4px;
  width: 100%;
  border-bottom: 2px solid #000;
  box-sizing: border-box;
  padding: 2px;
}
.con01 .skills .deco li {
  border: 2px solid #000;
  aspect-ratio: 1/1;
  align-content: center;
}
.con01 .skills .deco li i {
  display: block;
  font-size: 12px;
}
/* .con01 .skills .moveBar {
  position: absolute;
  left: 21vw;
  bottom: -20px;
  border: none;
  width: calc(62vw + 12px);
}
.con01 .skills .moveBar ul {
  display: flex;
  width: 100%;
}
.con01 .skills .moveBar ul li {
  width: calc(100% / 7);
  background-color: #000;
  height: 4px;
}
.con01 .skills .moveBar ul li.on {
  background-color: orange;
} */

/* con02 */
.con02 {
  background-color: #ffc7d334;
  position: relative;
  align-content: center;
  font-size: calc(10px + 0.8vw);
}
.con02 span {
  display: block;
  font-size: 14px;
}

.con02 .timeBar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 70vh;
}
.con02 .timeBar li {
  position: relative;
  height: calc(100% / 3);
  width: 4px;
  background-color: #000;
}
.con02 .timeBar div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #000;
}
.con02 .timeBar li:nth-child(3) div:nth-child(2) {
  bottom: 0;
}
.con02 .timeline ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(70vh / 3 - 55px);
}
.con02 .timeline ul li p {
  font-weight: bold;
}
.con02 .timeline ul hr {
  height: 2px;
  margin-top: 6px;
}
.con02 .timeline ul li:nth-child(odd) {
  text-align: right;
  transform: translateX(-58%);
}
.con02 .timeline ul li:nth-child(even) {
  transform: translateX(58%);
}
.con02 .github {
  width: 240px;
  margin: 0px auto;
  text-align: right;
}
.con02 .github a {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 4px;
}
.con02 .github div {
  width: 80px;
  height: 80px;
  border-radius: 100% 100% 0 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
  align-content: center;
  font-size: 60px;
}

/* con03 */
.con03 {
  display: flex;
  justify-content: right;
  align-items: center;
  align-content: center;
  gap: 10%;
  padding: 0px 100px;
  box-sizing: border-box;
}
.con03 .logobox {
  width: 20%;
  align-content: start;
}
.con03 .logobox img {
  width: 100%;
}
.con03 .idea {
  width: 40%;
}
.con03 .idea h3 {
  font-size: 3vw;
}

/* con04 */
.con04 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  gap: 12vw;
  background-color: #ff880025;
  overflow: hidden;
}
.con04 .mainTime {
  z-index: 10;
  align-content: center;
}
.con04 .mainTime p {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0px;
}
.con04 .mainTime > div {
  height: 60vh;
  position: relative;
}
.con04 .mainTime .mainCirc {
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #fffdf6;
  border: 4px solid #000;
}
.con04 .mainTime hr {
  height: 60vh;
  text-align: center;
  width: 4px;
  border-radius: 10px;
  margin: 0px auto;
}

.con04 .java {
  width: 60%;
}
.con04 .java > ul {
  display: flex;
  position: relative;
}
.con04 .java > ul > li {
  border-radius: 0 100px 0 100px;
  border: 3px solid #000;
  box-sizing: border-box;
  box-shadow: -15px -15px 0px #000;
  padding: 25px;
  margin-left: 30px;
  width: 100%;
  max-width: 900px;
  flex-shrink: 0;
  height: 60vh;
  background-color: #fffdf6;
}
.con04 .java > ul > li:nth-child(2),
.con04 .java > ul > li:nth-child(3),
.con04 .java > ul > li:nth-child(4) {
  position: absolute;
  left: 0;
  top: 0;
}
.con04 .java > ul > li h3 {
  font-size: 32px;
}
.con04 .java > ul > li h5 {
  font-weight: 300;
  font-size: 18px;
  margin: 10px 0px;
}
.con04 .java > ul > li > div {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 80px);
}
/* 리스트 내 구분선 */
.con04 .java > ul > li .line {
  width: 105%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
}
.con04 .java > ul > li .line hr {
  width: 90%;
}
.con04 .java > ul > li .line div {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #000;
  outline: 2px solid #000;
  outline-offset: 2px;
}

.con04 .java > ul > li .left {
  width: 35%;
  position: relative;
}
.con04 .java > ul > li .left .prg {
  display: flex;
  align-items: center;
  margin-left: -5px;
  margin-bottom: 5px;
}
.con04 .java > ul > li .left .prg li {
  width: 3vw;
  max-width: 40px;
  flex-shrink: 0;
}
.con04 .java > ul > li .left .prg li img {
  width: 100%;
  /* height: 100%; */
}
.con04 .java > ul > li .left .hashtag {
  /* display: flex;
  flex-wrap: wrap;
  gap: 10px; */
  font-weight: bold;
  font-style: italic;
  line-height: 1.4;
  word-break: keep-all;
}
.con04 .java > ul > li .left .hashtag span {
  margin-right: 5px;
}
.con04 .java > ul > li .line + p {
  font-size: 14px;
  word-break: keep-all;
  line-height: 1.5;
}
.con04 .java > ul > li .link {
  position: absolute;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}
.con04 .java > ul > li .link a {
  display: block;
  padding-bottom: 3px;
  transition: 0.3s;
}
.con04 .java > ul > li .link hr {
  height: 2px;
  width: 0px;
  transition: 0.5s;
}
.con04 .java > ul > li .link i {
  margin-right: -12px;
  font-size: 18px;
  animation: link 1s ease-in-out infinite;
}
.con04 .java > ul > li .link a i:nth-child(1) {
  animation-delay: 0;
}
.con04 .java > ul > li .link a i:nth-child(2) {
  animation-delay: 0.2s;
}
.con04 .java > ul > li .link a i:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes link {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0px);
  }
}
.con04 .java > ul > li .link:hover {
  font-weight: bold;
  /* text-shadow: 0px 0px 2px #000; */
  color: #000;
  /* transform: translateX(10px); */
}
.con04 .java > ul > li .link:hover a {
  margin-right: -15px;
  padding-left: 10px;
}
.con04 .java > ul > li .link:hover hr {
  width: 128%;
}

.con04 .java > ul > li .right {
  align-content: end;
  width: 60%;
}
.con04 .java > ul > li .right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 40px 40px 40px;
  box-shadow: 3px 3px 0px #000;
  border: 1px solid #000;
}

/* con05 */
.con05 {
  position: relative;
  background-color: #12884721;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 100px;
  gap: 50px;
}
.con05 h2 {
  position: absolute;
  left: 50%;
  top: 7vh;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 70px;
  letter-spacing: -5px;
  font-weight: 900;
  text-shadow: 3px 3px 0px #fff;
}
.con05 .left {
  width: 40%;
  aspect-ratio: 6/5;
  min-height: 50vh;
  display: flex;
  align-items: flex-end;
  gap: 15px;
}
.con05 .left .imgBox {
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: 5vw 5vw 5vw 0;
  overflow: hidden;
}
.con05 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.con05 .numNow li {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.con05 .numNow div {
  margin: 15px auto -40px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #000;
}
/* 우측 카드 */
.con05 .right {
  position: relative;
  width: 50%;
  max-width: 500px;
  aspect-ratio: 1/1;
}
.con05 .right li {
  position: absolute;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border: 1px solid #000;
  box-sizing: border-box;
  padding: 40px;
  background-color: #fffdf6;
}
.con05 .right li h3 {
  font-size: calc(20px + 1vw);
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
  margin-bottom: 20px;
  word-break: keep-all;
}
.con05 .right li > div {
  display: flex;
  justify-content: space-between;
}
.con05 .right li .type {
  text-align: right;
}
.con05 .right li span {
  display: block;
  line-height: 1.5;
  font-size: calc(10px + 1vw);
}
.con05 .right li .view {
  width: 30%;
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-transform: uppercase;
  font-size: calc(10px + 0.5vw);
  transition: 0.4s;
  animation: viewer 1s ease-in-out infinite;
}
@keyframes viewer {
  0% {
    right: 15px;
  }
  50% {
    right: 25px;
  }
  100% {
    right: 15px;
  }
}
.con05 .right li .view:hover {
  font-weight: bold;
  padding-bottom: 5px;
}
.con05 .right li .view a {
  display: block;
  width: 100%;
  padding-bottom: 4px;
}
.con05 .right li .view div::after {
  content: "";
  position: absolute;
  right: -4px;
  bottom: -2px;
  height: 2px;
  width: 36px;
  background-color: #000;
  transform: translateY(-15px) rotate(45deg);
}
.con05 .right li .view div {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.con05 .right li:nth-child(1) {
  z-index: 5;
  transform: skewY(-5deg);
}
.con05 .right li:nth-child(2) {
  z-index: 4;
  transform: skewY(-5deg) translate(10px, 10px);
}
.con05 .right li:nth-child(3) {
  z-index: 3;
  transform: skewY(-5deg) translate(20px, 20px);
}

/* con06 */
.con06 {
  background-color: #008cff1c;
  align-content: center;
  text-align: center;
}
.con06 .click {
  font-size: calc(13px + 1vw);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  animation: size 1.5s ease-in-out infinite;
}
.con06 .click i {
  display: block;
  transform: rotate(180deg);
  margin-right: 10px;
  font-size: calc(15px + 2vw);
  animation: click 1.5s ease-in-out infinite;
}
@keyframes click {
  0% {
    transform: rotate(180deg) translateY(10px) scale(1.1);
  }
  50% {
    transform: rotate(180deg) translateY(-10px) scale(1.2);
  }
  100% {
    transform: rotate(180deg) translateY(10px) scale(1.1);
  }
}
@keyframes size {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.con06 .clone > ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.con06 .clone > ul li {
  width: 30vw;
  max-width: 400px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  overflow: hidden;
  transform: scale(0.8);
  position: relative;
  left: 0;
  top: 0;
  transition: transform 0.5s, margin 0.5s, box-shadow 0.5s;
  margin: 0px -20%;
  box-shadow: 2px 2px 10px #00000070;
}
/* .on에 따른 조정 */
.con06 .clone > ul li.on {
  transform: scale(1);
  margin: 0px 5vw;
  z-index: 5;
  box-shadow: 0px 0px 16px #ffffff90;
}
.con06 .clone > ul li.on img {
  filter: none;
}
.con06 .clone > ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px) brightness(60%) contrast(60%);
  transition: filter 0.5s;
}
/* li 순서에 따른 조정 */
/* .con06 .clone > ul li:nth-child(1),
.con06 .clone > ul li:nth-child(3) {
  margin: 0px -20%;
  box-shadow: 2px 2px 10px #00000070;
  transition: 0.5s;
}
.con06 .clone > ul li:nth-child(2) {
  transition: 0.5s;
  transform: scale(1);
  margin: 0px 5vw;
  z-index: 5;
  box-shadow: 0px 0px 16px #ffffff90;
} */

.con06 .music {
  text-align: center;
  margin-top: 30px;
}
.con06 .music > p {
  font-size: 20px;
  margin: 20px 0px;
  letter-spacing: -1px;
}
.con06 .music h3 {
  font-size: 4vw;
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: -0.3vw;
}
.con06 .music .mus_title {
  height: 4.5vw;
  overflow: hidden;
}
.con06 .music .mus_title li {
  height: 4.5vw;
  align-content: center;
}
.con06 .music .music_bar,
.con06 .music .music_bar + ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.con06 .music .music_bar + ul {
  gap: 5vw;
}
.con06 .music .music_bar {
  max-width: 800px;
  margin: 16px auto 10px;
  font-size: 2vw;
}
.con06 .music .music_bar p {
  flex-shrink: 0;
}
.con06 .music .music_bar > div {
  width: 40vw;
  position: relative;
  margin: 0px 20px;
  align-content: center;
}
.con06 .music .music_bar > div > div {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: calc(10px + 1vw);
  height: calc(10px + 1vw);
  background-color: #000;
  border-radius: 100%;
}
.con06 .music .music_bar > div hr {
  width: 100%;
  height: 3px;
}
/* ui */
.con06 .music .music_bar + ul {
  font-size: calc(14px + 2vw);
}

/* con07 */
.con07 {
  background-color: #a200ff1c;
  box-sizing: border-box;
  padding: 0px 100px;
  align-content: center;
}
.con07 h2 {
  position: absolute;
  left: 50%;
  top: 7vh;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 70px;
  letter-spacing: -5px;
  font-weight: 900;
  text-shadow: 3px 3px 0px #fff;
}
/* 이미지 클릭 시 모달창 */
.con07 .modalBox {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  background-color: #00000070;
  backdrop-filter: blur(2px);

  display: none;
}
.con07 .modalBox .modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  border: 2px solid #fff;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #ffffffa2, #ffffff18);
}
.con07 .modalBox .modal .close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 2vw;
  color: #be0000;
  text-shadow: 0px 0px 5px #fff;
  cursor: pointer;
  transition: 0.3s;
}
.con07 .modalBox .modal .close:hover {
  transform: rotate(180deg) scale(1.2);
  color: #ff2727;
  text-shadow: 0px 0px 10px #ff9898;
}

/* 갤러리 */
.con07 ul {
  display: flex;
  gap: 20px;
}
.con07 ul li {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #000;
  padding: 20px 20px 60px;
}
.con07 ul li.a {
  transform: rotate(10deg);
}
.con07 ul li.b {
  transform: rotate(-6deg);
}
.con07 ul li.c {
  transform: rotate(3deg);
}

/* con08 */
.con08 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.con08 .left {
  width: 60%;
}
.con08 .left p {
  font-size: calc(10px + 1.5vw);
  word-break: keep-all;
  margin: 10px 0px;
}
.con08 .left .mail + p,
.con08 .left .mail + p + p {
  font-size: calc(8px + 1vw);
}
.con08 .left .mail {
  display: flex;
  align-items: center;
  margin: 8% 0px;
}
.con08 .left .mail > i {
  font-size: calc(40px + 5vw);
  display: block;
  margin-right: 10px;
}
.con08 .left .mail a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #000;
  transition: 0.8s;
}
.con08 .left .mail a {
  display: inline-block;
  position: relative;
  align-content: center;
  transition: 0.4s;
}
.con08 .left .mail a:hover::after {
  width: 100%;
}
.con08 .left .mail a:hover {
  transform: translateX(20px);
}
.con08 .left .mail a i {
  font-size: 20px;
  margin-right: 5px;
}
.con08 .left .mail span {
  display: block;
  font-size: calc(20px + 2vw);
}
.con08 .right {
  width: 20%;
  border: 3px solid #000;
  width: 20vw;
  aspect-ratio: 3/4;
  border-radius: 1vw;
  position: relative;
  z-index: 10;
}
.con08 .right img:nth-child(1) {
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  width: 30vw;
  user-select: none;
}
.con08 .right img:nth-child(2) {
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  width: 30vw;
  user-select: none;
  /* animation: arm 2s ease-in-out infinite;
  animation-delay: 3.5s; */
}
/* @keyframes arm {
  0% {
    transform: translateX(-50%) rotate(5deg);
  }
  50% {
    transform: translateX(-50%) rotate(-5deg);
  }
  100% {
    transform: translateX(-50%) rotate(5deg);
  }
} */
